body {
  font-family: "Roboto Mono", monospace;
  min-height: 50px;
  background-image: url("https://cdn.pixabay.com/photo/2018/02/23/19/40/student-3176407_960_720.png");
  background-size: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #000000;
  margin: 0 0 5px;
  border-bottom: 1px solid #c3c4c5;
}

.page-subtitle {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
  margin-top: 30px;
  transition: 0.15s ease-in-out;
  opacity: 0.7;
}

.page-logo {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0px 25px;
  width: 200px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
  margin-top: 30px;
  transition: 0.15s ease-in-out;
}

.alextec-logo {
  margin-bottom: 50px; /* margem entre os elementos */
  top: 10px;
  bottom: absolute;
  left: 620px;
  right: 0px;
  margin: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; /* margem entre os elementos */
  position: absolute;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alextec-logo:hover {
  transform: scale(1.05);
}

.linkedin-logo {
  margin-bottom: 50px; /* margem entre os elementos */
  top: 10px;
  bottom: absolute;
  left: 730px;
  right: 0px;
  margin: auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer; /* pra colocar um cursor do mouse indicando link */
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /*https://getcssscan.com/css-box-shadow-examples*/
}

.linkedin-logo:hover {
  transform: scale(1.05);
}

h2 {
  top: 280px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: #000000;
  padding: 0px 25px;
  width: 180px;
  height: 110px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px;
  margin-top: 30px;
  transition: 0.15s ease-in-out;
  opacity: 0.9;
}
